@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}



.cont1{
    
    width: 70%;
    margin: 20px auto 0px;
    height: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.block1{

    
}


.link1{
    text-decoration: none;
    color: black;
}

.firstlink1{
    color: red;
}

.cont2{
    
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: darkred;
}

.block2_1{
    width: 25%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


.text2_1{
    
}

.image49{
    width: 30px;
    height: 20px;
    margin-right: 8px;
   
}


.link2_1{
    color: white;
    text-decoration: none;
    vertical-align: middle;
   
}

.block2_2{
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.text2_2{
    color: white;
    text-align: center;
}


.link2_2{
    font-size: 42px;
    color: white;
    text-decoration: none;
}


.block2_3{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.button2_3_1, .button2_3_2{
    border: none;
    background-color: darkred;
    color: white;
    margin: 5px;
    

}

.button2_3_3{
    background-color: rgb(250, 34, 34);
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px 20px 10px ;
    margin-left: 20px;
    color: white;
}

.cont3{
    width: 80%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 10px auto;
    
}

.link3{
    color: black;
    text-decoration: none;
    font-size: 20px;
    
    
}

.firstLink3{
    color: red;
}








.composition1_2>p:first-child{
    font-size: 20px;
    color: firebrick;
    
    padding-bottom: 7px;
    text-transform: uppercase;
}

.composition1_2>p{
    margin-left: 114px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.composition1_2>p>span{
    font-weight: bold;
}


.composition1_2>a{
    text-decoration: none;
    
    text-transform: uppercase;
    color: firebrick;
    margin-left: 114px;
   
    
}


.block_composition1_1{
    width: 1175px;
    margin: 20px auto;
}


.block_composition1_1>p{
    margin-left: 100px;
    color: rgba(105, 105, 105, 0.6);
    text-transform: uppercase;
}


.block_composition1_2{
    margin: 0 auto;
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.border_index1, .border_index2, .border_index3, .border_index4{
    border: 1px solid rgba(105, 105, 105, 0.6);
    width: 24%;
    height: 80px;
    display: flex;
    box-sizing: border-box;
}


/* INDEX1 */

.index1_1{
    width: 36%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.index1_1>p{
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}


.index1_1>a{
    font-size: 36px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.index1_1>a:hover{
    color: firebrick;
}


.index1_2{
    width: 64%;
    display: flex;
    
    align-items: flex-end;
}

.index1_2>a{
    width: 110px;
    height: 45px;
    display: flex;
    align-items: flex-end;
    
}

.index1_2>a>img{
    width: 100%;
    padding-bottom: 20px;
}

.index1_2>p{
    color: firebrick;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 16px;

    
}

/* INDEX2 */

.index2_1{
    width: 36%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.index2_1>p{
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}


.index2_1>a{
    font-size: 36px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.index2_1>a:hover{
    color: firebrick;
}


.index2_2{
    width: 64%;
    display: flex;
    
    align-items: flex-end;
}

.index2_2>a{
    width: 110px;
    height: 45px;
    display: flex;
    align-items: flex-end;
    
}

.index2_2>a>img{
    width: 100%;
    padding-bottom: 20px;
}

.index2_2>p{
    color: firebrick;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 16px;
}


/* INDEX3 */

.index3_1{
    width: 36%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.index3_1>p{
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}


.index3_1>a{
    font-size: 36px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.index3_1>a:hover{
    color: firebrick;
}


.index3_2{
    width: 64%;
    display: flex;
    
    align-items: flex-end;
}

.index3_2>a{
    width: 110px;
    height: 45px;
    display: flex;
    align-items: flex-end;
    
}

.index3_2>a>img{
    width: 100%;
    padding-bottom: 20px;
}

.index3_2>p{
    color: firebrick;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 16px;
}


/* INDEX4 */

.index4_1{
    width: 26%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.index4_1>p{
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}


.index4_1>a{
    font-size: 36px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.index4_1>a:hover{
    color: firebrick;
}


.index4_2{
    width: 74%;
    display: flex;
    
    align-items: flex-end;
}

.index4_2>a{
    width: 110px;
    height: 45px;
    display: flex;
    align-items: flex-end;
    
}

.index4_2>a>img{
    width: 100%;
    padding-bottom: 20px;
}

.index4_2>p{
    color: firebrick;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 16px;

    
}


